/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --secondary: #167fca;
  --accent: #2384c4;
  --error: #e7195a;
}
body {
  background: #dbdbdb;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #dbdbdb;
}
header .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  width: 100%;
  padding: 8px;
}

input {
  background-color: #e1e1e1;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  width: 60%;
  padding: 8px;
  margin: 20px auto;
  display: table;
  
}
p.error {
  padding: 8px;
  background: #dbdbdb;
  color: var(--error);
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  display: table-cell; 
  border: 1px solid var(--error);
  border-radius: 4px;
}
div.success {
  width: 27%;
  background: #dbdbdb;
  margin: 20px auto;
  display: table;
}
p.success {
  padding: 8px;
  border-radius: 4px;
  color: var(--primary);
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  display: table-cell; 
  border: 1px solid var(--primary);
}

div.score {
  margin: 0;
  position: absolute;
  bottom: 24px;
  right: 24px;
}
p.score {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #dfdede;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin: 0 8px;
}

.user-email {
  margin-left: 8px;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #d2d2d2;
  border: 2px solid var(--secondary);
  border-radius: 4px;
}

/* Quiz Card */
.quiz-card {
  max-width: 90%;
  margin: 40px auto;
  background-color: #dbdbdb;

  padding: 8px;

  height: auto;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quiz-data{
  width: 90%;
  margin: 40px auto 0;
}
div.quiz-answers{
  width: 90%;
  margin: 40px auto 0;
}

ul {
  list-style: none;
  margin: 8px auto;
  padding: 0px;
  width: 80%;
  min-width: 50%;
  max-width: 80%;
}

li{
  min-width: 50%;
  max-width: 100%;
  margin: 16px auto;
  padding: 8px;
  width: auto;

  text-align: center;
  text-size-adjust: auto;
  
  border: 2px solid rgb(84, 84, 84);
  border-radius: 20px;
  font-size: 16px;
  
  cursor: pointer;
}
li:hover {
  border-color: var(--primary);
  font-size: 18px;
}